In [2]:
from clean import Data, PTHURL
from utils import Spinner, train_test_val_split
spin = Spinner()

dat = Data(PTHURL)
X = dat.X
y = dat.y

X.head()

..

,price_per_sq_ft,beds_total,baths.lavs,original_list_price,year_built,sqft-est_tot_fin,sqft-est_fin_abv_grd,acreage
0,98.0,3,2.0,199900,1952,1.726,1.026,0.50
1,99.0,3,1.1,199900,1949,1.910,1.210,0.25
2,103.0,4,1.0,199900,1923,1.764,1.764,0.25
3,105.0,4,3.0,325000,1953,936.000,936.000,0.21
4,105.0,3,1.0,174999,1949,1.792,1.064,0.13

In [3]:
#train_test_val_split(X, y, 0.3, 0.7, 0)

TypeError: train_test_val_split() takes 4 positional arguments but 5 were given

In [4]:
help(train_test_val_split)

Help on function train_test_val_split in module utils:

train_test_val_split(Dat:pandas.core.frame.DataFrame, x:float, y:float, z:float)
    dat: data
    x: train size
    y: validation size
    z: test size